@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

.App {
	text-align: center;
	position: relative;
	min-height: 100vh;
}

.App-header {
	height: 3rem;
	padding: 15px;
}

.App-header,
footer {
	background-color: #222;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

div.flex {
	display: flex;
	max-width: 60%;
	margin: 0px auto;
}

div.body {
	padding-top: 1rem;
	/* Footer height*/
	padding-bottom: 4rem;
}

footer {
	clear: both;
	font-size: 0.8em;
	/* Footer height */
	height: 4rem;
	position: absolute;
	bottom: 0;
	padding-bottom: 2px;
	width: 100%;
}

footer a {
	color: #61dafb;
	/* SVG fill and stroke color */
	fill: #61dafb !important;
	stroke: #61dafb;
}

footer a .logo {
	height: 16px;
	width: 16px;
	margin: 0px 3px -2px 4px;
}

textarea {
	resize: none;
	min-width: 20em;
	min-height: 15em;
	font-size: 1.3em;
}

.code {
	font-family: 'Fira Code Retina', 'Fira Code', 'Courier', monospace;
}

textarea.error {
	border: 2px solid red !important;
}

ol.memory {
	border: 1px solid #000;
	list-style: none;
	padding: 0;
}

ol.memory li {
	line-height: 1;

	border-bottom: 1px solid #000;
	padding: 0 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.4rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

ol.memory li:last-child {
	border-bottom: none;
}

.output {
	display: block;
}
